<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dili.demo.tdmapper.ElectricPowerMapper">

    <resultMap id="BaseResultMap" type="com.dili.demo.tddomain.ElectricPower">
        <id column="ts" jdbcType="TIMESTAMP" property="ts" />
        <result column="speed" jdbcType="INTEGER" property="speed" />
        <result column="notes" jdbcType="NCHAR" property="notes" />
    </resultMap>

    <sql id="Base_Column_List">
        ts, speed, notes
    </sql>

    <update id="createDB" >
        create database if not exists test;
    </update>

    <update id="createTable" >
        create table if not exists electric_power(ts timestamp, speed int, notes nchar(10));
    </update>

    <select id="select" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from electric_power
        order by ts desc
        <if test="limit != null">
            limit #{limit,jdbcType=INTEGER}
        </if>
        <if test="offset != null">
            offset #{offset,jdbcType=INTEGER}
        </if>
    </select>

    <insert id="insert" parameterType="com.dili.demo.tddomain.ElectricPower" >
        insert into electric_power (ts, speed, notes) values (now, #{speed,jdbcType=INTEGER}, #{notes,jdbcType=NCHAR})
    </insert>

    <insert id="batchInsert" parameterType="java.util.List" >
        insert into weather (ts, speed, notes) values
        <foreach separator=" " collection="list" item="electricPower" index="index" >
            (now + #{index}a, #{electricPower.speed}, #{electricPower.notes})
        </foreach>
    </insert>


</mapper>
